.DS_Store
node_modules
.env
.env.nile
.vscode

#Nile files
accounts.json
node.json
artifacts/
artifacts
./artifacts

#Python artifacts
__pycache__
.pytest_cache
.venv
.python-version

#Ape
ape-config.yaml
.build

#Openzeppelin
openzeppelin

#Pytest
pytest.ini

# virtualenv
venv

# helper scripts
/scripts