node_modules
.env

#Nile files
goerli.deployments.txt
accounts.json
node.json
artifacts/
artifacts
./artifacts

#Python artifacts
__pycache__
.pytest_cache
.venv
.python-version

#Ape
ape-config.yaml
.build

#Pytest
pytest.ini

# Unused folders + files
test_account_abstraction.py.txt
old_integration_tests
scripts/pinata.py
old_front_end
contracts/Proxy.cairo
tests/test_proxy.py
contracts/Upgradable.cairo
protostar.toml
contracts/AccessControl.cairo
ape
contracts/proxy
contracts/access_control
contracts/interfaces/IGuildCertificateAccess.cairo
contracts/interfaces/IGuildContractAccess.cairo
tests/test_access_control.py