.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: flex;
    gap: 20px;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add svg {
    height: 25px;
}