.navbar {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    border-bottom-color: var(--border-light-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 1;
    margin: 0px;
    background-color: var(--color-light-bg);
}

.links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.links_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 50px;
    gap: 16px;
    cursor: pointer;
}

.links_container a {
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.links_container:hover {
    align-items: center;
    text-decoration: none;

    color: var(--button-select-light-color);
    border-radius: 10px;
}

.links_container p {
    justify-content: center;

    font-family: var(--font-family);
    font-weight: 600;
    padding: 4px 8px 4px 6px;

    margin: 0px 0px;
}

.wallet {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.wallet_address_button {
    display: flex;
    padding: 12px;

    width: 175px;
    height: 36px;
    margin: 0px;

    background: var(--button-select-light-color);
    border-radius: 10px;
    border: none;
}

.wallet_address_button p {
    position: static;
    height: 16px;
    left: 6px;
    right: 8px;
    top: calc(50% - 16px/2);

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    color: var(--color-primary) !important;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.wallet_connect_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;

    width: 150px;
    height: 35px;

    background: var(--color-primary);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.wallet_connect_button p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;

    color: white;
}

.wallet_disconnect_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;

    width: 150px;
    height: 35px;

    background: var(--color-secondary);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    border: none;
    cursor: pointer;
}