.box {
    background     : #191b1fbb;
    backdrop-filter: blur(10px);
    border-radius  : 20px 10px 10px 20px;
    padding        : 36px;
    margin         : 96px 36px 16px;
    width          : min(75%, 1000px);
}

.title {
    color      : white;
    font-family: Verdana, sans-serif;
    font-size  : 38px;
    font-weight: bold;
    margin     : 4px;
}

.profilepicture {
    height   : 250px;
    clip-path: circle(50% at 50% 50%);
}

.header {
    display: flex;
}

.info {
    height         : 250px;
    display        : flex;
    flex-direction : column;
    margin-left    : 20px;
    justify-content: space-between;
}

.data_text {
    flex       : 1;
    color      : white;
    font-family: Verdana, sans-serif;
    font-size  : 18px;
    margin     : 12px;
    overflow   : hidden;
}

.info_footer {
    display: flex;
}

.icon_container {
    cursor     : pointer;
    height     : 32px;
    margin     : 12px;
    display    : flex;
    align-items: center;
}

.icon {
    height: 100%;
    color : whitesmoke;
}

.icon_text {
    color      : #19222E;
    font-family: Verdana, sans-serif;
    font-size  : 16px;
    margin     : 0px 8px 0px 4px;
    display    : none;
}

.icon_container:hover .icon_text {
    display: block;
}

.icon_container:hover .icon {
    margin-left: 2px;
    height     : 90%;
    color      : #19222E;
}

.icon_container:hover {
    background-color: whitesmoke;
    border-radius   : 12px;
}

.guilds {
    padding       : 0px 36px;
    width         : min(75%, 900px);
    display       : flex;
    flex-direction: column;
}