.title {
    color        : #dfe3e7;
    font-family  : Verdana, sans-serif;
    font-size    : 22px;
    font-weight  : bold;
    margin-bottom: 12px;
}

.box {
    position     : absolute;
    align-self   : center;
    left         : 50%;
    top          : 50%;
    transform    : translate(-50%, -50%);
    background   : #191b1fde;
    border-radius: 20px;
    z-index      : 1;
    padding      : 36px;
    width        : min(50%, 800px);
    height       : fit-content;
}


.box_footer {
    display      : flex;
    margin-bottom: -4px;
}


.footer_element {
    display        : flex;
    text-decoration: none;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    border-radius  : 45px;
    width          : fit-content;
}


.button {
    color           : #a9d1ff;
    background-color: #202123b7;
    border          : 2px solid #4595d6;
    margin          : -9px -16px auto auto;
    cursor          : pointer;
}

.button_normal {
    color           : #a9d1ff;
    background-color: #202123b7;
    border          : 2px solid #4595d6;
    margin          : 8px auto 4px auto;
    cursor          : pointer;
}

.button_icon {
    height: 24px;
    margin: 4px 5px;
}

.button_text {
    font-family    : Verdana, sans-serif;
    font-size      : 15px;
    margin-right   : 7px;
    text-decoration: none;
    color          : inherit;
}

.text {
    color        : #dfe3e7;
    font-family  : Verdana, sans-serif;
    font-size    : 16px;
    margin-bottom: 12px;
    display      : flex;
}


.loading_icon {
    height       : 24px;
    margin-left  : 12px;
    margin-bottom: -8px;
}

.spinner_bottom {
    margin-left: 180px;
}