.box {
    background     : #191b1fbb;
    backdrop-filter: blur(10px);
    border-radius  : 20px 10px 10px 20px;
    padding        : 36px;
    margin         : 96px 36px 16px;
    width          : min(75%, 1000px);
}

.title {
    color      : white;
    font-family: Verdana, sans-serif;
    font-size  : 38px;
    font-weight: bold;
    margin     : 4px;
}

.permission_row {
    display: flex;
}

.permission_inputs {
    width: 80%;
}

.button_area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action_button {
    display         : block;
    color           : #a9d1ff;
    background-color: transparent;
    margin          : 8px auto 4px auto;
    cursor          : pointer;
}

.button {
    display         : block;
    color           : #a9d1ff;
    background-color: #202123b7;
    border          : 2px solid #4595d6;
    margin          : 8px auto 4px auto;
    cursor          : pointer;
    width: 200px;
    height: 50px
}

.button_icon {
    height: 30px;
    margin: 4px 5px;
}