.box {
    background     : #191b1fbb;
    backdrop-filter: blur(10px);
    border-radius  : 20px 10px 10px 20px;
    padding        : 36px;
    margin         : 96px 36px 16px;
    width          : min(75%, 1000px);
}

.title {
    color      : white;
    font-family: Verdana, sans-serif;
    font-size  : 38px;
    font-weight: bold;
    margin     : 4px;
}

.permission_row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display         : block;
    color           : #a9d1ff;
    background-color: #202123b7;
    border          : 2px solid #4595d6;
    margin          : 8px auto 4px auto;
    cursor          : pointer;
    width           : 250px;
    height          : 50px;
}

.add_permission_button{
    display         : block;
    margin          : 0px auto 0px auto;
    color           : #a9d1ff;
    background-color: #202123b7;
    cursor          : pointer;
    width           : 50px;
    height          : 50px
}