.dialog {
    position       : fixed;
    align-self     : center;
    left           : 50%;
    top            : 50%;
    transform      : translate(-50%, -50%);
    background     : rgba(38, 41, 44, 0.5);
    backdrop-filter: blur(10px);
    border-radius  : 20px;
    z-index        : 1;
    padding        : 25px;
    width          : 100%;
    max-width      : 450px;
    display        : flex;
    flex-direction : column;
}

.dialog_close {
    position        : absolute;
    top             : 15px;
    right           : 15px;
    width           : 30px;
    stroke          : white;
    cursor          : pointer;
    transition      : 0.3s;
    background-color: transparent;
    border          : none;
}

.dialog_close:hover {
    stroke: rgb(124, 124, 124);
}

.dialog_title {
    color      : white;
    font-family: Verdana, sans-serif;
    font-size  : 21px;
    font-weight: bold;
    margin     : 4px;
}

.dialog_text {
    color      : #F3F2ED;
    font-family: Verdana, sans-serif;
    font-size  : 14px;
    margin     : 14px 5px 18px;
}

.button {
    color           : #a9d1ff;
    background-color: #202123b7;
    border          : 2px solid #4595d6;
    margin          : 8px auto 4px auto;
    cursor          : pointer;
}

.button_text {
    font-family    : Verdana, sans-serif;
    font-size      : 15px;
    margin-right   : 7px;
    text-decoration: none;
    color          : inherit;
}

.button_icon {
    width      : 24px;
    margin-left: 12px;
}

@media (max-width: 820px) {
    .dialog {
        width: 95%;
    }

    .dialog_title {
        font-size: 19px;
        margin   : -7px -2px 2px;
    }

    .dialog_text {
        font-size: 13.5px;
        margin   : 12px 4px 18px;
    }

    .button_text {
        font-size  : 15px;
        margin-left: 12px;
    }
}

.spinner_bottom {
    margin-left: 180px;
}

.box_footer {
    display      : flex;
    margin-bottom: -4px;
}

.footer_element {
    display        : flex;
    text-decoration: none;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    border-radius  : 45px;
    width          : fit-content;
}